<div class="socialmedia2"/> <!--SOCIAL MEDIA-->
  <a href="http://www.facebook.com" target="_blank">
    <img src="http://www.yorkcounty.gov/portals/0/facebook_like_logo.gif" alt="fbicon" width="125" height="50"/>
  </a>

  <a href="http://www.twitter.com" target="_blank">
    <img src="http://www.easyacc.com/blog/wp-content/uploads/2014/09/followusontwitterlogo.jpg" alt="twittericon" width="125" height="50"/>
  </a>

  <a href="http://www.instagram.com" target="_blank">
    <img src="http://www.dunwoodys.com.au/portals/14/instagram.jpg" alt="instagram" width="125" height="50"/>
  </a>

  <a href="http://www.pinterest.com" target="_blank">
    <img src="http://arenacreative.com/images/piniticonarenacreative.png" alt="pinterest" width="125" height="50">
  </a>
</div>      <!--END OF SOCIAL MEDIA-->

<div class="maincontent2">

  <div id="about">
    <h2>ABOUT US </h2>
      <hr color="#FF3399" width="90%">
        <img src="/images/organic.jpg" width="300" height="300" align="left" />
          <p><b>Smoothies R' Us is an established, popular, and fast‐growing retailer of real fruit smoothies, fresh squeezed juices, and nutritional products in the USA. We believe in the simple concept of providing guests with reasonably priced healthy meal choices, served quickly, in attractive, clean, pleasant surroundings every day.
          Perhaps the most impressive trait that Smoothie Factory possesses is its desire to continually enhance its franchising system, interior design, and brand image. Since the company’s founding in Carrollton, TX in 1996, the Smoothies R’ Us brand has become recognized for excellence in service, product, and value.

          In the early 1970s, the co-founder of Smoothie King, Stephen Kuhnau, began selling blended fruit drinks under the name "smoothie". However, Kuhnau admits that he "didn't invent the word smoothie"; instead, he states that the term dates back to the "fruit and fruit juice based drinks made by the Hippies" in the late 1960s. In the 1980s, the increasing popularity of sports and fitness led to the marketing of supplement-fortified health food products. During this time, the first specialized juice and smoothie bars opened. By the 2000s, the "juice and smoothie industry [was] a multi-billion dollar industry. 
          </b></p>
  </div>    <!--END OF ABOUT-->
     
  <div id="history">
    <h2> HISTORY</h2>
      <hr color="#FF3399" width="90%">
        <img src="images/about2.jpg" width="250" height="250" align="left" />
          <p> <b>Health food stores on the West Coast of the United States began selling puréed fruit drinks in the 1930s, based on recipes that originated in Brazil. The 1940s-era Waring Blendor cookbooks published recipes for a "banana smoothie" and a "pineapple smoothee." The name "smoothee" or "smoothie" was used by books, magazines, and newspapers for a product made in a blender. Dan Titus, the director of The Juice and Smoothie Association, states in his book, Smoothies, The Original Smoothie Book, that "smoothies became popular in the middle 1960s, when there was a resurgence in the United States in macrobiotic vegetarianism." The first trademark for a fruit slush was in the mid-1970s with the name "California Smoothie", which was marketed by the California Smoothie Company from Paramus, New Jersey. Smoothies from the 1960s and early 1970s were "basically fruit, fruit juice, and ice"; in some cases in the early 1970s, ice milk was also blended in to create the "fruit shake". These shakes were served at local health-food restaurants and at health-food stores alongside tofu, fruits, carob, and other health-oriented foods.
          </b></p>
  </div>        <!--END OF HISTORY-->

</div>  <!--END OF MAIN CONTENT-->

<footer>
  <div id="leftpart">
    <center>
      <p><a href="/contactus">Contact Us</a></p>
      <p><a href="/about">About Us</a></p>
      <p><a href="/smoothies">Smoothies</a></p>
      <p>Find A Store</p>
    </center>
  </div>

  <div id="rightpart">
    <center> 
      <p>Subscribe</p>
      <p>Careers at Smoothies R Us</p>
      <p>Our Partners</p>
      <p><a href="http://www.facebook.com" >Facebook</a></p>
      <p><a href="http://www.twitter.com">Twitter</a></p>
      <p><a href="http://www.instagram.com">Instagram</a></p>
      <p><a href="http://www.pinterest.com">Pinterest</a></p>
    </center>
  </div>    
</footer>

