





<div class="socialmedia3"/> <!--SOCIAL MEDIA-->
	<a href="http://www.facebook.com" target="_blank">
		<img src="http://www.yorkcounty.gov/portals/0/facebook_like_logo.gif" alt="fbicon" width="125" height="50"/>
	</a>

	<a href="http://www.twitter.com" target="_blank">
		<img src="http://www.easyacc.com/blog/wp-content/uploads/2014/09/followusontwitterlogo.jpg" alt="twittericon" width="125" height="50"/>
	</a>

	<a href="http://www.instagram.com" target="_blank">
		<img src="http://www.dunwoodys.com.au/portals/14/instagram.jpg" alt="instagram" width="125" height="50"/>
	</a>

	<a href="http://www.pinterest.com" target="_blank">
		<img src="http://arenacreative.com/images/piniticonarenacreative.png" alt="pinterest" width="125" height="50">
	</a>
</div>			<!--END OF SOCIAL MEDIA-->

<div class="maincontent">
	<h2><center>Send us and email</center></h2>

		<form action = "/contactus" method=POST>
			<label for="email">EMAIL</label>
			<input type="text" name="email" id="email" cols="50" >

			<br>
			<label for="subject">SUBJECT:</label>
			<input type="text" name="subject" id="subject" cols="50">

			<br>
			<label for="message">MESSAGE</label>
			<textarea type= "text" name="message" id="message" rows="20" cols="50"></textarea>

			<br>
			<input type="submit">
		</form>


</div> <!--END OF MAIN CONTENT-->





<footer>
	<div id="leftpart">
		<center>
			<p><a href="/contactus">Contact Us</a></p>
			<p><a href="/about">About Us</a></p>
			<p><a href="/smoothies">Smoothies</a></p>
			<p>Find A Store</p>
		</center>
	</div>

	<div id="rightpart">
		<center> 
			<p>Subscribe</p>
			<p>Careers at Smoothies R Us</p>
			<p>Our Partners</p>
			<p><a href="http://www.facebook.com" >Facebook</a></p>
			<p><a href="http://www.twitter.com">Twitter</a></p>
			<p><a href="http://www.instagram.com">Instagram</a></p>
			<p><a href="http://www.pinterest.com">Pinterest</a></p>
		</center>
	</div>		
</footer>
