<!DOCTYPE html>
<html>
  <body>
   <head>
      <title>Homepage</title>
    </head>


    <hr color="#FF3399" width="75%">



    <div class="socialmedia"/> <!--SOCIAL MEDIA-->
	   <a href="http://www.facebook.com" target="_blank">
		  <img src="http://www.yorkcounty.gov/portals/0/facebook_like_logo.gif" alt="fbicon" width="125" height="50"/>
	   </a>

	   <a href="http://www.twitter.com" target="_blank">
		  <img src="http://www.easyacc.com/blog/wp-content/uploads/2014/09/followusontwitterlogo.jpg" alt="twittericon" width="125" height="50"/>
	   </a>

	   <a href="http://www.instagram.com" target="_blank">
		  <img src="http://www.dunwoodys.com.au/portals/14/instagram.jpg" alt="instagram" width="125" height="50"/>
	   </a>

	   <a href="http://www.pinterest.com" target="_blank">
		  <img src="http://arenacreative.com/images/piniticonarenacreative.png" alt="pinterest" width="125" height="50">
	   </a>
    </div>			<!--END OF SOCIAL MEDIA-->


    <div id="container">
                      <!-- SLIDESHOW STARTS HERE -->
      <div class="slideshow">  

        <ul>
        	<li>
       			 <img src="http://www.juiceitup.com/sites/default/files/live_the_juicing_lifestyle.png" alt="fruits" width="500" height="400"/>
       	 </li>

        	<li>
        		<img src="/images/restaurantpic.jpg" alt="restaurant" width="500" height="400" />
        	</li>

        	<li>
        		<img src="/images/smoothiepics.jpg" alt="smoothies" width="500" height="400" />
        	</li>

       		<li>
       			<img src="/images/restaurantpic2.jpg" alt="restaurant2" width="500" height="400" />
       		</li>

        	<li>
        		<img src="https://s-media-cache-ak0.pinimg.com/736x/dd/c2/54/ddc254abf5fdbaa0940a50d55b09e216.jpg" alt="berryblastshake" width="500" height="400" />
        	</li>
        </ul>  
      </div>






      <center>
        <p>In this world, ranging from children to adults, not everyone likes to eat vegetables and rarely eat fruit. We created Smoothies R Us for people who would like to have the health benefits of fruits of vegetables but love the taste of sweets and sugars instead. Prepare for your life to change after having one of our smoothies.
        </p>
        <p>Our smoothies are 100% natural, organic, and healthy. With our variety of flavors, there is a flavor for everyone. We have fruit smoothies, veggie smoothies, smoothies with both fruits and vegetables or you can customize your own! Be prepared for a burst of energy anytime you drink our shakes! 
        </p>

        <h3>Fruit Smoothies</h3>
        <h3>Vegetable Smoothies</h3>
        <h3>Or</h3>
        <h3>Customize Your Own Smoothie and Mix Them Up!!</h3>
      </center>
    </div>  <!--END OF CONTAINER-->

    <br>

            <!-- START OF SMOOTHES -->
    <ul class="photo-grid">
      <li>
        <a href="/smoothies">
          <figure>
            <img src="/images/strawbansm.png" height="100" width="100" alt="strawberrybanana">
              <figcaption><p>Try Our Strawberry Banana Swirl!</p></figcaption>
          </figure>
        </a>
      </li>

      <li>
        <a href="/smoothies">
          <figure>
            <img src="/images/mangosm.png" height="100" width="100" alt="mango">
             <figcaption><p>Tango with Mango Madness!</p></figcaption>
          </figure>
        </a>
      </li>

      <li>
        <a href="/smoothies">
          <figure>
            <img src="/images/blurasbry.png" height="100" width="100" alt="bluerasberry">
              <figcaption><p>Try Our Very Berry Blast!</p></figcaption>
          </figure>
        </a>
      </li>
    </ul>
  <!--END OF SMOOTHIES-->







<!-- <p><center>Ready For Smoothies?!?</center></p> -->

    <footer>
      <div id="leftpart">
        <center>
          <p><a href="/contactus">Contact Us</a></p>
          <p><a href="/about">About Us</a></p>
          <p><a href="/smoothies">Smoothies</a></p>
          <p>Find A Store</p>
        </center>
      </div>

      <div id="rightpart">
        <center> 
          <p>Subscribe</p>
          <p>Careers at Smoothies R Us</p>
          <p>Our Partners</p>
          <p><a href="http://www.facebook.com" >Facebook</a></p>
          <p><a href="http://www.twitter.com">Twitter</a></p>
          <p><a href="http://www.instagram.com">Instagram</a></p>
          <p><a href="http://www.pinterest.com">Pinterest</a></p>
        </center>
      </div>    
    </footer>

  </body>
</html>