<!DOCTYPE html>
<html>
	<body>

		<head>
			<title>Smoothies Page</title>
		</head>



			<!-- <div id="container"> -->

		<div class="socialmedia2"/> <!--SOCIAL MEDIA-->
			<a href="http://www.facebook.com" target="_blank">
				<img src="http://www.yorkcounty.gov/portals/0/facebook_like_logo.gif" alt="fbicon" width="125" height="50"/>
			</a>

			<a href="http://www.twitter.com" target="_blank">
				<img src="http://www.easyacc.com/blog/wp-content/uploads/2014/09/followusontwitterlogo.jpg" alt="twittericon" width="125" height="50"/>
			</a>

			<a href="http://www.instagram.com" target="_blank">
				<img src="http://www.dunwoodys.com.au/portals/14/instagram.jpg" alt="instagram" width="125" height="50"/>
			</a>

			<a href="http://www.pinterest.com" target="_blank">
				<img src="http://arenacreative.com/images/piniticonarenacreative.png" alt="pinterest" width="125" height="50">
			</a>
		</div>			<!--END OF SOCIAL MEDIA-->

			<!-- START OF CONTAINER AND SMOOTHIE PICS -->

		<div class="smoothiepics">
			<h2><b>Fruit Smoothies</b></h2>

				<hr color="#FF3399" width="90%">

			<div class="smoothiesinfo" style="width:263px; height:220px"/>
				<img src="images/megamango.jpg" /><center>Mega Mango</center>
			
					<div class="desc rightslide">Gaze upon our towering monolith to the mango. We offer up strawberries, exotic juices and of course piles of mangos in order to appease our mighty lord of the fruits. It is good, and he is pleased.
					</div>
			</div>



			<div class="smoothiesinfo" style="width:263px; height:220px"/>
				<img src="images/PeachMango.jpg" /><center>Peach Perfection</center>
					<div class="desc rightslide">The peach is very particular about her associates. Mangos, strawberries and two kinds of fruit juice ensure that she’s always seen with the right people. After all, she has a reputation to maintain.
					</div>
			</div>


			<div class="smoothiesinfo" style="width:263px; height:220px">
				<img src="images/strawberrywhirl.jpg" /><center>Strawberry Whirl</center>
					<div class="desc rightslide">We hope you’re not afraid of heights because you’re about to be swept up and taken for a ride on the back of a strawberry soaring through apple-berry skies around banana clouds. Fly high, fruit angel.
					</div>
			</div>

			<div class="smoothiesinfo" style="width:263px; height:220px">
				<img src="images/pomegranateparadise.jpg" /><center>Pomegranate Paradise</center>
					<div class="desc rightslide">We hope you’re not afraid of heights because you’re about to be swept up and taken for a ride on the back of a strawberry soaring through apple-berry skies around banana clouds. Fly high, fruit angel.
					</div>
			</div>

			<div class="smoothiesinfo" style="width:263px; height:220px">
				<img src="images/Acai.jpg" /><center>Acai Very Berry</center>
					<div class="desc rightslide">Acai is already pretty antioxidant but when you throw in some blueberries, raspberry sherbet and our Antioxidant Boost, look out. I mean if you’re an oxidant you should probably steer clear of this guy. I’m not sayin’, I’m just sayin’.
					</div>
			</div>

			<div class="smoothiesinfo" style="width:263px; height:220px">
				<img src="images/banana.jpg" /><center>Banana Jamma</center>
					<div class="desc rightslide">We all know banana is not only good for you, but tastes delicious!Mixed with some peach and pineapple, you'll be getting a burst of energy and extra healthy nutrients.
					</div>
			</div>


					<!--COLADA SHAKES-->
					
			<h2><b>Alotta Colada<b></h2>
				<hr color="#FF3399" width="90%">

			<div class="smoothiesinfo" style="width:263px; height:220px">
					<img src="images/pinacolada.jpg" /><center>Pina Colada</center>
				<div class="desc rightslide">A creamy blend of pineapple, coconut water, coconut cream and pineapple sorbet. Best enjoyed while relaxing in the sunshine with toes dipped in the water.
				</div>
			</div>

			<div class="smoothiesinfo" style="width:263px; height:220px">
					<img src="images/limecolada.jpg" /><center>Lime Colada</center>
				<div class="desc rightslide">Fruity and tart collide in this blend of pineapple, lemonade, coconut water, coconut cream and lime sorbet. A deliciously hydrating twist on a summer favorite.
				</div>
			</div>

			<div class="smoothiesinfo" style="width:263px; height:220px">
					<img src="images/tropcolada.jpg" /><center>Tropical Colada</center>
				<div class="desc rightslide">Can’t make it to the tropics? Here’s the next best thing. A tasty blend of strawberries, passion-mango juice, coconut water, coconut cream and pineapple sorbet that always hits the spot.
				</div>
			</div>

		

			

			<!--FRUITS AND VEGGIES-->

			<h2><b>Fruits & Veggies</b></h2>
				<hr color="#FF3399" width="90%">



			<div class="smoothiesinfo" style="width:263px; height:220px">
					<img src="images/gingergreens.png" /><center>Greens 'n Ginger</center>
				<div class="desc rightslide">If mangos, peaches, kale, lemonade and ginger were physically able to skip through a meadow together holding hands, this would be the result. Since that’s not possible, we’ll just make this beautiful smoothie for you.
				</div>
			</div>

			<div class="smoothiesinfo" style="width:263px; height:220px">
					<img src="images/applegreens.jpg" /><center>Apple 'n Greens</center>
				<div class="desc rightslide">Lettuce explain…
					Struggling to eat enough greens? Start drinking them! A blend of apple and strawberry juices, kale, peaches, mangos and bananas will make you see the light. You’ll never use your teeth to harm another leaf again.
				</div>
			</div>

			<div class="smoothiesinfo" style="width:263px; height:220px">
					<img src="images/berryupbeet.jpg" /><center>Berry UpBEET Smoothie</center>
				<div class="desc rightslide">Your grandma wasn’t kidding – beets are good for you. Add in some mixed berry juice, strawberries, blueberries and mangos and you’ve just helped usher in a new era for the beet as the tastiest vegetable in the world.
				</div>
			</div>

			<center>
				<div class="smoothiesinfo" style="width:263px; height:220px">
						<img src="images/kaleribbean.png" /><center>Kale-Ribbean Breeze</center>
					<div class="desc rightslide">Are we sharing the same dream? I hope so, because this is the one where the mangos, passion fruit-mango juice, chia seeds and nonfat Greek yogurt give you all that protein. Then that full cup of kale hands you the energy to make this dream a reality.
					</div>
				</div>

				<div class="smoothiesinfo" style="width:263px; height:220px">
						<img src="images/orangecarrot.jpg" /><center>Orange Carrot Karma Smoothie</center>
					<div class="desc rightslide">You could spend decades on a Tibetan mountaintop meditating on the mysteries of the universe, or you could sip on this blend of orange and carrot juices, mangos and bananas. Open your third eye and say Om, or just Mmmm – your call.
					</div>
				</div>
			</center>
		</div> <!--END OF SMOOTHIE PICS-->



 



		<footer>
			<div id="leftpart">
				<center>
					<p><a href="/contactus">Contact Us</a></p>
					<p><a href="/about">About Us</a></p>
					<p><a href="/smoothies">Smoothies</a></p>
					<p>Find A Store</p>
				</center>
			</div>

			<div id="rightpart">
				<center> 
					<p>Subscribe</p>
					<p>Careers at Smoothies R Us</p>
					<p>Our Partners</p>
					<p><a href="http://www.facebook.com" >Facebook</a></p>
					<p><a href="http://www.twitter.com">Twitter</a></p>
					<p><a href="http://www.instagram.com">Instagram</a></p>
					<p><a href="http://www.pinterest.com">Pinterest</a></p>
				</center>
			</div>		
		</footer>


	</body>
</html>